/**
 * Main (main.scss)
 */

@import "_normalize";
@import "_base";

/**
 * 1. Body
 ************************************************/
html {
	font-size: 14px;
	line-height: 1.5em;
	font-family: $font_normal;
	height: 100%;
}
body { 
	background-color: #fff;
	background: url('../../images/bg.png');
	overflow: auto;
	overflow-y: scroll;
	height: 100%;
	
	#container {
		@include container;
		min-height: 100%;
		height: auto !important;
		margin: 0 auto -196px; /* the bottom margin is the negative value of the footer's height */		
		padding: 0 $blueprint-grid-margin;
	}
}

/**
 * 2. Header
 ************************************************/

#header-wrapper {
	@include prepend(3);
	@include column(21, true);
	height: 147px;
	
	header {
		cursor: pointer;
		height: 147px;
		
		img {
			display: block;
			position: relative;
			width: 150px;
			margin: 20px auto;
		}
	}
	header.hidden {
		display: none;
	}
}

/**
 * 3. Menu
 ************************************************/

#menu-wrapper {	
	@include column(3, true);
	float: left;	
	width: $blueprint-grid-width * 3 + $blueprint-grid-margin * 3;
	padding-top: 20px;
	//@include clearfix;
	//margin: 20px 0 20px 0;
				
	#menu {
		//border-top: 1px solid $color_con-secondary;
		//border-left: 1px solid $color_con-secondary;
		
		.button {
			position: relative;
			display: block;
			padding: 10px 10px 7px 10px;
			text-align: left;
			color: $color_primary;
			border: 1px solid $color_con-primary;
			border-right: 0px solid $color_primary;
			background-color: $color_con-primary;
			z-index: 10000;
			cursor: pointer;
			text-decoration: none;
			font-size: 0.9em;
			line-height: 1.5em;
			//@include transitionable;
			font-family: $font_normal;
			outline: 0;
			@include transition(all, 0.5s);
			@include border-radius(3px 0 0 3px);
			margin-bottom: 10px;
			@include single-box-shadow(rgba(0,0,0,0.1), -2px, 2px, 5px, 0, inset);
			
			span {
				display: block;
			}
			&:hover {
				//@include single-box-shadow(rgba(0,0,0,0.1), 2px, 2px, 5px, 0, inset);
				//background-color: $color_primary;
				//color: $color_con-primary;
				//border: 1px solid $color_tertiary;
				//border-right: 1px solid $color_primary;
				//@include scalable(0.9);
				background-color: $color_con-tertiary;
				//color: $color_secondary;
				//left: 1px;
			}
		}
		
		.button.selected {
			@include transition(background, 0);
			@include single-box-shadow(rgba(0,0,0,0.05), -1px, 2px, 3px, 0);
			background-color: $color_primary;
			color: $color_con-primary;
			border: 1px solid $color_tertiary;
			border-right: 1px solid $color_primary;
			//top: -2px;
		}		
	}
}

.fb-like {
	@include column(3, true);	
	float: left;
	display: block;
	margin-top: 10px;
}

/**
 * 4. Content
 ************************************************/

#main-wrapper {
	@include column(21, true);	
	float: right;	
	//height: 400px;
	overflow-y: none;
	overflow-x: none;
	margin-bottom: 80px;
	
	#main {
		@include clearfix;
		@include single-box-shadow(rgba(0,0,0,0.1), 0, 2px, 5px, 0);
		@include border-radius(3px);
		background-color: #fff;
		padding: 40px 0;	
		border: 1px solid $color_tertiary;
		margin: 0 -1px; // box model borders fix
		min-height: 150px;
		
		.content {
			display: none;
		}
		.content.visible {	
			display: block;
		}
		
		// Frontpage
		#content-0 {
			text-align: center;
			
			.section-left {
				@include column(5);
				padding-top: 60px;
				
				img {
					display: block;
					margin-left: 20px;
				}
			}
			
			.section-center {
				@include column(11);
				padding: 35px 0 30px 0;

				h3 {
					font-size: 1.5em;
					color: darken($color_tertiary, 15%);
					font-style: italic;
					margin-bottom: 0.5em;
				}	

				form {
					margin-bottom: 20px;
				}			
				
				input {
					@include border-radius(3px);
					background-color: $color_primary;
					padding: 10px 10px 8px 10px;
					margin: 5px;
					font-family: $font_normal;
					line-height: 1em;					
				}
				
				.input-email {
					width: 170px;
					border: 1px solid $color_tertiary;
					@include single-box-shadow(rgba(0,0,0,0.1), 0, 2px, 5px, 0, inset);
				}
				
				.input-email.placeholder {
					color: $color_tertiary;
				}
				
				.input-submit {
					//@include single-box-shadow(rgba(0,0,0,1), 0, 2px, 0px, 0);					
					background-color: $color_con-primary;
					color: $color-primary;
					border: 1px solid $color_con-primary;
					cursor: pointer;
					@include transition(all, 0.5s);
					@include single-box-shadow(rgba(0,0,0,0.1), 0, 2px, 5px, 0);					
				}
				
				.input-submit:hover {
					background-color: $color_con-tertiary;
					//border: 1px solid $color_con-primary;
					//@include scalable(0.9);
				}
				.message {
					display: block;
					padding-top: 10px;
					
					img {
						vertical-align: top;
						margin-right: 5px;
					}
				}
				.validation-error {
					display: none;
					color: red;	
				}
				.fb-like {
					margin-top: 20px;
					z-index: 1000;
				}
			}
			.section-right {
				@include column(5, true);
				padding-top: 80px;
				
				img {
					display: block;
					height: 165px;
					width: 165px;
				}
			}
		}
		
		// Hvad? page
		#content-1 {
			@include prepend(1);
			@include append(1);
			
			.image-right {
				float: right;
			}
		}
		
		// Hvordan? page
		#content-2 {
			@include prepend(1);
			@include append(1);

			.section-wrapper {
				
				a {
					display: block;
					margin: 0 auto;
					text-align: center;
					
					span {
						display: block;
						margin-bottom: 10px;
					}
					
					img {
						display: block;
						margin: 0 auto;
						margin-bottom: 10px;
					}
				}
			}
			
			.section-left {
				@include column(9);
				@include append(1);
			}

			.section-right {
				@include column(9, true);
			}
						
			h3 {
				font-size: 1.2em;
			}
		}
		
		#content-2b, #content-2a {
			@include prepend(1);
			@include append(1);
			
			.back-nav {
				@include border-radius(3px);
				display: block;
				width: 75px;
				text-align: center;
				background-color: $color_secondary;
				padding: 10px 10px 8px 10px;
				margin-bottom: 15px;
				font-family: $font_normal;
				line-height: 1em;
				//@include single-box-shadow(rgba(0,0,0,1), 0, 2px, 0px, 0);					
				color: $color_alt-primary;
				cursor: pointer;
				@include transition(all, 0.5s);
			}
			
			#small_text {
				font-size: 0.7em;	
			}
			
			.back-nav:hover {
				background-color: $color_tertiary;
				//border: 1px solid $color_con-primary;
				//@include scalable(0.9);
			}			
			
			.number {
				float: left;
				font-size: 2.5em;
				padding-right: 10px;
				height: 130px;
			}
			
			img { 
				display: block;
				margin: 0 auto;
			}
			
			.section-a-wrapper {
				margin-bottom: 20px;
			}
			
			.section-a-left {
				@include column(6);
				
				img {
					max-width: 80%;
					max-height: 120px;
					margin: 0 auto;
				}
				
				.image {
					height: 150px;
				}
			}	
			.section-a-center {
				@include column(6);
				
				img {
					//padding-top: 40px;
					width: 40%;
				}
				.image {
					height: 150px;
				}
			}
			.section-a-right {
				@include column(6, true);
				@include append(1);

				img {
					//padding-top: 40px;
					width: 35%;
				}
				.image {
					height: 150px;
				}				
			}
			
			.table, .bullets {
				@include column(19, true);
			}
			
			.table {
				margin-bottom: 20px;
				
				.image {
					//height: 120px;
					width: 50px;					
					float: left;
					margin-right: 30px;
				}
				
				img {
					width: 50px;
				}		
				
				table {
					width: 100%;
					
					td {
						height: 120px;
						width: 50%;
						vertical-align: top;
						padding: 10px;
						
						ul {
							padding-left: 80px;
						}
						
					}
				}
			}
		}

		// Kontakt page
		#content-3 {
			@include prepend(1);
			@include append(1);

			.podio-form {
				@include column(10);
			}
			.podio-form:last-child {
				@include column(10, true);
			}
			.contact-info {
				@include border-radius(4px);				
				border: 1px solid $color_tertiary;
				background-color: $color_secondary;
				padding: 20px;
			}
		}
		
		// Hvem? page
		#content-4 {
			@include prepend(1);
			@include append(1);
			
			.image-right {
				float: right;
			}

			.employee h2{
				margin-bottom: 0.1em;
				font-size: 1.5em;
				line-height: 1.5em;
			}

			.employee h3{
				font-family: 'TitilliumText22LBold';
				margin-bottom: 0em;
				font-size: 1.1em;
				line-height: 1.5em;
				color:#4394D0;
			}
			.employee a.mail {
				margin-bottom: 1em;
				display: block;
			}

			.employee {
				
				table {
					width:100%;

					td img {
						padding: 0 15px 15px 0;
					}
				}
			}
			
			.partners {
				table tr td {
					padding-right: 20px;
				}
			}
		}

		#content-5 {
			@include prepend(1);
			@include append(1);
		}
	}
}

/**
 * 5. Footer
 ************************************************/

#footer-wrapper {
	width: 100%;
	min-width: $blueprint-container-size + ($blueprint-grid-margin * 2);	
	background-position: center top; 
	//margin-top: -200px;
	height: 196px;
	background: #999;
	background: url('../../images/footer.png') center center;
	
	footer {
		@include container;
		
		#footer-inner {
			@include prepend(3);
			@include column(21, true);
			margin-top: 150px;			
			text-align: center;
			color: white;
			
			a {
				color: white;
			}
			
		}
		
		#hidden {
			display: none;
		}
	}
}

/**
 * 5. Defaults
 ************************************************/

a {
	color: $color_con-primary;
	
	&:hover {
		color: $color_con-secondary;
	}
}

h2, h3 {
	margin-bottom: 1em;
	font-size: 1.9em;
	line-height: 1.5em;				
}

h3 {
	font-size: 1.5em;
	margin-bottom: 0.75em;
}

p {
	margin-bottom: 1em;
}

strong {
	font-size: 1.1em;
	font-weight: bold;
	font-family: 'TitilliumText22LBold';
}