/**
 * Main (main.scss)
 */

@import "_normalize";
@import "_base";

/**
 * 1. Body
 ************************************************/
html {
	font-size: 14px;
	line-height: 1.5em;
	font-family: $font_normal;
	height: 100%;
}
body { 
	background-color: #fff;
	background: url('../../images/bg.png');
	overflow: auto;
	height: 100%;
	
	#container {
		@include container;
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -196px; /* the bottom margin is the negative value of the footer's height */		
	}
}

/**
 * 2. Header
 ************************************************/

#header-wrapper {
	height: 147px;
	
	header {
		@include column(24);
		cursor: pointer;
		height: 147px;
		
		img {
			display: block;
			position: relative;
			width: 150px;
			margin: 20px auto;
		}
	}
	header.hidden {
		display: none;
	}
}

/**
 * 3. Content
 ************************************************/

#main-wrapper {
	@include single-box-shadow(rgba(0,0,0,0.1), 0, 2px, 5px, 0, inset);
	@include border-radius(6px);
	@include clearfix;
	border: 1px solid $color_tertiary;
	background-color: #fff;
	height: 400px;
	overflow-y: none;
	overflow-x: none;
	margin-bottom: 10px;
	
	#main {
		padding: 40px 0;	
		@include prepend(1);
		@include column(22, true);
		@include append(1);

		.content {
			display: none;
		}
		.content.visible {
			display: block;
		}
		
		#content-0 {
			text-align: center;
			
			.section-left section {
				@include column(6);
				padding-top: 80px;

				img {
					height: 175px;
					width: 175px;
				}
			}
			.section-center section {
				@include column(10);
				padding-top: 35px;

				h3 {
					font-size: 1.5em;
					color: darken($color_tertiary, 15%);
					font-style: italic;
					margin-bottom: 0.5em;
				}				
				
				input {
					@include border-radius(3px);
					background-color: $color_primary;
					padding: 10px;
					margin: 5px;
					font-family: $font_normal;
					line-height: 0.8em;					
				}
				
				.input-email {
					width: 170px;
					border: 1px solid $color_tertiary;	
				}
				
				.input-submit {
					//@include single-box-shadow(rgba(0,0,0,1), 0, 2px, 0px, 0);					
					background-color: $color_con-primary;
					color: $color-primary;
					border: 1px solid $color_con-primary;
					cursor: pointer;
					//@include transitionable;
				}
				
				.input-submit:hover {
					background-color: lighten($color_con-primary, 10%);
					//border: 1px solid $color_con-primary;
					//@include scalable(0.9);

				}
				.input-submit:active {
					background-color: lighten($color_con-primary, 20%);
					//border: 1px solid $color_con-primary;
					//@include scalable(0.8);
				}
				.input-submit.submitted {
					background-color: $color_primary;
					color: $color_con-primary;
				}
				.message {
					display: block;
					padding-top: 10px;
				}
				.validation-error {
					display: none;
					color: red;	
				}
				.fb-like {
					margin-top: 20px;
					z-index: 1000;
				}
			}
			.section-right section {
				@include column(6, true);
				padding-top: 40px;
			}
		}
		
		#content-1 {
			.image-right {
				float: right;
			}
		}
		
		#content-2 {
			
			#section-wrapper {
				@include column(11);
			}
			
			h3 {
				font-size: 1.2em;
			}
		}
		
		#content-3 {

			.podio-form {
				@include column(10);
			}
			.podio-form:last-child {
				@include column(10, true);
			}
			.contact-info {
				@include border-radius(4px);				
				border: 1px solid $color_tertiary;
				background-color: $color_secondary;
				padding: 20px;
			}
		}	
	}
}

.fb-like {
	@include prepend(11);
	@include column(2);	
	@include append(11);	
	display: block;
	margin-bottom: 160px;
}

/**
 * 4. Menu
 ************************************************/

#menu-wrapper {	
	@include clearfix;
	margin: 20px 0 20px 0;
	display: none;
		
	#menu {
		@include prepend(3);
		@include column(18);
		@include append(3);		
		
		.button {
			@include column(6);
			text-align: center;
			color: $color_con-primary;
			cursor: pointer;
			text-decoration: none;
			font-size: 1.5em;
			line-height: 1.5em;
			//@include transitionable;
			font-family: $font_normal;
			outline: 0;			
			
			span {
				display: block;
			}
			img {
				height: 100px;
				@include opacity(0.5);
			}
			&:hover {
				//@include scalable(0.9);				
				color: darken($color_con-primary, 20);
			}
			&:hover img {
				@include opacity(1);				
			}			
		}
		
		.button.selected {
			color: darken($color_con-primary, 20);
			
			img {
				@include opacity(1);
			}
		}		
		
		.button:last-child {
			@include column(6, true);			
		}
	}
}

/**
 * 5. Footer
 ************************************************/

#footer-wrapper {
	width: 100%;
	background-position: center top; 
	//margin-top: -200px;
	height: 196px;
	background: #999;
	background: url('../../images/footer.png') center center;
	
	footer {
		@include container;
		
		#footer-inner {
			@include prepend(3);
			@include column(18, true);
			@include append(3);
			margin-top: 150px;			
			text-align: center;
			color: white;
		}
		
	}
	
}

/**
 * 5. Defaults
 ************************************************/

a {
	color: $color_con-primary;
}
h2, h3 {
	margin-bottom: 1em;
	font-size: 2em;
	line-height: 1.5em;				
}

p {
	margin-bottom: 1em;
}