/**
 * Base (_base.scss)
 * Partial for initializing common variables, importing utilities and setting up the framework
 */

@import url(http://fonts.googleapis.com/css?family=News+Cycle);
@import url(http://fonts.googleapis.com/css?family=Terminal+Dosis:400,300,200);

// Configure blueprint
$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

// Global constants and variables goes here (re-usable colors, default sizes etc.)
$color_primary: #fff;
$color_secondary: #eee;
$color_tertiary: #ddd;
$color_alt-primary: #000;
$color_alt-secondary: #444;
$color_con-primary: #4294D1;

$font_normal: 'Helvetica', helvetica, arial, sans-serif;

$font-color: $color_alt-primary;
$link-color: $color_alt-primary;
$link-hover-color: $color_alt-secondary;

// Custom mixins goes here

// Load compass tools, utilities and blueprint modules
@import "blueprint";
@import "blueprint/reset";
//@import "compass/css3/opacity";
//@import "compass/css3/transition";
//@import "compass/typography/text/replacement";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
//@import "compass/css3/text-shadow"