/**
 * Main (main.scss)
 */

@import "_normalize";
@import "_base";

h2{
	font-size:18px;
	font-weight:bold;
}

/**
 * 1. Body
 ************************************************/
html {
	font-size: 12px;
	line-height: 1.5em;
	font-family: helvetica, arial, sans-serif;
}
body { 
	@include container;
	background-color: #fff;
	overflow: auto;

	#container {
		@include prepend(1);
		@include column(22);
		@include append(1);
	}
}

/**
 * 2. Header
 ************************************************/

#header-wrapper {
	height: 50px;
	
	header {
		@include prepend(3);
		@include column(16);
		@include append(3);
		cursor: pointer;
		
		img {
			display: block;
			position: relative;
			width: 150px;
			margin: 20px auto;
		}
	}
	header.hidden {
		display: none;
	}

	navigation {
		margin-bottom:30px;
		@include prepend(2);
		@include column(18);
		@include append(2);		
		
		.button {
			//@include prepend(1);
			@include column(6);
			//@include append(1);
			position:relative;
			text-align: center;
			color: $color_con-primary;
			font-weight: bold;
			cursor: pointer;
			height:110px;
			&:hover {
				color: darken($color_con-primary, 10);
			}
			
			span {
				display: block;
				position: absolute;
				bottom: -10px;
				left: 50%;
				margin-left: -75px;
				width: 150px;
			}
			img {

			}
		}
		
		.button:last-child {
			@include column(6, true);			
		}
	}
}

/**
 * 3. Content
 ************************************************/

#main-wrapper {
	@include border-radius(4px);
	@include clearfix;
	border: 1px solid $color_tertiary;
	background-color: #fff;
	height: 450px;
	@include single-box-shadow(rgba(0,0,0,0.1), 0, 2px, 5px, 0, inset);
	position: relative;
	
	#main {
		padding: 40px 0;	
		@include prepend(1);
		@include column(20, true);
		@include append(1);

		.content {	}
		
		#content-0 {
			text-align: center;
			img {
				height: 270px;
			}
			.text {
				margin-bottom: 40px;
				font-size: 1.3em;
				line-height: 1.5em;				
			}
		}
		
		#content-1,
		#content-2,
		#content-3 {
			display: none;
			.podio-form {
				@include column(10);
			}
			.podio-form:last-child {
				@include column(10, true);
			}
			.contact-info {
				@include border-radius(4px);				
				border: 1px solid $color_tertiary;
				background-color: $color_secondary;
				padding: 20px;
			}
		}		
	}
}

/**
 * 4. Footer
 ************************************************/

#footer-wrapper {	
	margin-top: 20px;
		
	footer {
		
	}
}

/**
 * 5. Defaults
 ************************************************/

a {
	color: $color_con-primary;
}