<div id="content-2" rel="2" class="content">
	<h2>Købstaden er Danmarks første online storcenter. Vi forbinder din butik med en hastigt voksende kundegruppe.</h2>
	<h3>Hos købstaden har vi gjort det nemt for dig at komme i gang med at sælge mere på nettet.</h3>
	<div id="section-wrapper">
		<section id="section-left">
			<span>Klik her hvis du er ny i nethandel og vil lær mere om hvordan du kommer i gang</span>
			<img src="/static/images/illu-nyaabnet.png" alt="Nyåbnet"/>
			<span><em>Du har en butik og ønsker at komme i gang med at sælge på nettet. Vi har gjort det nemt for dig og samlet webshop, betalingsløsning, fragtaftale og eksponering ét samlet sted.</em></span>
		</section>
	</div>	
	<div id="section-wrapper">
		<section id="section-right">
			<span>Klik hvis du allerede har en webshop og vil lære mere om købstaden</span>
			<img src="/static/images/illu-thumbsup.png" alt="Thumbs up"/>
			<span><em>Du har allerede en webshop og ønsker at sælge endnu mere på nettet: Vi integrerer din webshop med vores system så du forbindes direkte med købstadens kundegruppe.</em></span>
		</section>
	</div>
</div>
<div id="content-1" rel="1" class="content">
	<h2>Nethandel kan virke som en jungle, men det behøver det ikke at være.</h2>
	<img src="/static/images/icon-puzzle-large.png" alt="Hvad er Købstaden?" class="image-right"/>
	<p>Nyeste undersøgelser viser, at dansk e-handel stadig er i vækst og vil fortsætte med at stige selv. Alligevel kommer flere firmaer ud med røde tal på bundlinjen grundet forvirring, store investeringer til opstart, samt dyr og nytteløs markedsføring.</p>
	<p>Det behøver dog ikke være nogen videnskab at sælge på nettet! Købstaden.dk er Danmarks første online shoppingcenter og vi har gjort det let for køber og sælger at mødes under perfekte vilkår. På Købstaden kan sælgere nemt og hurtigt oprette en webshop og komme i gang med online salg. Vi leverer en webshop, hvor der er sørget for NETS-godkendelse, design, fragtaftale, betalingsplatform og en stor kundekreds.</p>
	<p>Samtidig får forbrugeren adgang til et bredt udvalg af spændende varer fra centrets mange forskellige forretninger. Vores unikke betalingssystem gør det muligt for kunderne at shoppe på kryds og tværs mellem butikkerne og afslutte med én samlet betaling – alt samlet i et simpelt og overskuelig system, der giver kunden den bedste handelsoplevelse. Shopping har aldrig været lettere. 
	</p>
</div>
<div id="content-x" rel="x" class="content">
	<strong>HOW! Duis aliquet egestas purus in blandit.</strong><br /><br />
	Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante.
</div>
<div id="content-3" rel="3" class="content">
	<div id="podio-form-shops" class="podio-form">
		<p>Er du og din butik interesseret i Købstaden? Send os en besked og vi følger op på din henvendelse.</p>
		<!-- BEGIN Podio web form -->
		<!--script src="http://podio.com/webforms/895028/37986.js"></script>
		<script type="text/javascript">
		  //_podioWebForm.render("37986")
		</script>
		<!-- END Podio web form -->
	</div>
	<div id="podio-form-users" class="podio-form">
		<p>Bliv påmindet når Købstaden går live, tilmeld dig vores nyhedsbrev herunder og så sender vi dig en e-mail.</p>
		<!-- BEGIN Podio web form -->
		<!-- script src="http://podio.com/webforms/895181/37998.js"></script>
		<script type="text/javascript">
		  //_podioWebForm.render("37998")
		</script>
		<!-- END Podio web form -->
		<p class="contact-info">
			Tlf. 1234 5678<br />
			E-mail: <a href="whatever@kobstaden.dk">whatever@kobstaden.dk</a><br />
			Dampfærgevej 1, København Ø, Danmark
		</p>
	</div>
</div>
