<!doctype html>
<html>
<head>
	
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Købstaden | Få en webshop i Købstadens online shoppingcenter</title>
  <meta name="description" content="Købstaden er Danmarks nye online shoppingcenter.">
  <meta name="author" content="Købstaden">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="google-site-verification" content="knC_RXTZW3Uw3OMHIJKScQAezz_Fj2Ut_h3CkKiYDpM" />
  <meta property="og:image" content="http://www.kobstaden.dk/static/images/logo.png" /> 
  <meta property="og:title" content="Købstaden er Danmarks første online storcenter." /> 
  <meta property="og:description" content="Hos købstaden har vi gjort det nemt for dig at komme i gang med at sælge mere på nettet." /> 
  <meta property="og:url" content="http://www.kobstaden.dk"> 
	
	<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="/static/stylesheet/compiled/main.css">
  <script src="/static/javascript/libs/modernizr-2.0.6.min.js"></script>

</head>
<body>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	    var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=214029271984815";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
	</script>
  <div id="container">
		<div id="header-wrapper">
			<header>
				<a href="#forside"><img src="/static/images/logo.png" alt="Købstaden Logo" class="button" rel="forside"/></a>
			</header>
		</div>
		<div id="main-wrapper" role="main">
			<div id="main">

				<div id="content-0" rel="forside" class="content visible">
					<div class="section-wrapper section-left">
						<section>
							<img src="/static/images/icon-balloondude.png" alt="Forbruger" />
						</section>
					</div>					
					<div class="section-wrapper section-center">
						<section>
							<h2>Købstaden er Danmarks<br />første online shoppingcenter.</h2>
							<h3>Vi går i luften sommeren 2012!</h3>
							<form id="signup" action="" method="post">
								<input type="text" name="email" class="input-email" placeholder="f.eks. john@doe.dk" /><input type="submit" value="Få besked!" class="input-submit" />
								<span class="validation-error">E-mail er ikke gyldig, check din indtastning</span>
							</form>
							<p>Har du en butik og er interesseret i Købstaden, så kontakt os <a rel="hoer-mere" class="button" href="#hoer-mere">her.</a></p>					
						</section>
					</div>
					<div class="section-wrapper section-right">
						<section>
							<img src="/static/images/icon-flyingshop.png" alt="Få en webshop hos Købstaden" />
						</section>
					</div>
				</div>

				<div id="content-1" rel="hvad" class="content">
					<h2>Købstaden er Danmarks første online shoppingcenter - til gavn for både køber og sælger.</h2>
					<img src="/static/images/icon-puzzle-large.png" alt="Hvad er Købstaden?" class="image-right"/>
					<p>Det behøver ikke være en videnskab at sælge på nettet. Købstaden er Danmarks første online shoppingcenter og vi har gjort det let for køber og sælger at mødes under perfekte vilkår. På Købstaden får du en køreklar webshop, hvor du kan sælge alt fra modetøj til vin og delikatesser . Vi leverer en intuitiv løsning, hvor der er sørget for webshop, kortaftale, betalingssystem, fragtaftale og en ekstraordinær kundekreds skabt af alle centerets butikker samt intensiv markedsføring. Hos Købstaden nyder butikkerne godt af hinandens trafik istedet for at kæmpe om den.</p>
					<p>Som forbruger på Købstaden får man adgang til et bredt udvalg af spændende varer fra Købstadens mange forskellige butikker. Vores unikke betalingssystem gør det muligt for kunderne at shoppe på kryds og tværs mellem butikkerne og afslutte med én samlet betaling – alt samlet i et simpelt og overskuelig system, der giver kunden den bedste handelsoplevelse. Shopping har aldrig været lettere.</p>
				</div>

				<div id="content-2" rel="hvordan" class="content">
					<h2>Købstaden er Danmarks første online storcenter. Vi forbinder din butik med Købstadens kundegruppe.</h2>
					<div class="section-wrapper section-left">
						<section>
							<a  href="#hvordan-ny" rel="hvordan-ny" class="button">
								<span>Klik her hvis du er ny i nethandel</span>
								<img src="/static/images/icon-flyingnewshop.png" alt="Butik" />
							</a>
							<span><em>Du har en butik og ønsker at komme i gang med at sælge på nettet. Vi har gjort det nemt for dig og samlet webshop, betalingsløsning, fragtaftale og eksponering ét samlet sted.</em></span>
						</section>
					</div>	
					<div class="section-wrapper section-right">
						<section>
							<a href="#hvordan-eksisterende" rel="hvordan-eksisterende" class="button">
								<span>Klik her hvis du allerede har en webshop</span>
								<img src="/static/images/icon-flyingshop.png" alt="Butik" />
							</a>
							<span><em>Du har allerede en webshop og ønsker at sælge endnu mere på nettet. Vi indlæser dit varekatalog fra din eksisterende webshop så du forbindes direkte med Købstadens kundegruppe.</em></span>
						</section>
					</div>
				</div>

				<div id="content-2a" rel="hvordan-ny" class="content">
					<a class="back-nav button" href="#hvordan" rel="hvordan">Tilbage</a>
					<h2>Købstaden er den perfekte løsning for dig, der ønsker at komme i gang med at sælge på nettet.<br />Vi har samlet alt hvad du behøver ét sted.</h2>
					<p>Vi tilbyder dig en webshop med exceptionel eksponering og service – og vi tilbyder forbrugerne ét samlet sted at handle. Købstaden er perfekt til dig, der ønsker at sælge på nettet.</p>
					<p><strong>Sådan bliver din butik en del af Købstaden:</strong></p>
					<div class="section-a-wrapper section-a-left">
						<section>
							<div class="image">
								<img src="/static/images/icon-flyingnewshop.png" alt="Butik" />
							</div>
							<span class="number">1)</span><strong>Opret butikken</strong>
							<p>Opret din butik, sæt varer til salg, tildel tekst, billeder og videoer. Hurtigt, nemt og effektivt.</p>
						</section>
					</div>
					<div class="section-a-wrapper section-a-center">
						<section>
							<div class="image">							
								<img src="/static/images/icon-freight.png" alt="Butik" />
							</div>
							<span class="number">2)</span><strong>Bliv klædt ordentligt på</strong>
							<p>Vi rådgiver dig i salg på Købstaden. Du får et effektivt betalingssystem og vi finder dig en ideel fragtaftale.</p>
						</section>
					</div>
					<div class="section-a-wrapper section-a-right">
						<section>
							<div class="image">							
								<img src="/static/images/icon-shopper.png" alt="Butik" />
							</div>
							<span class="number">3)</span><strong>Få kunder i butikken</strong>
							<p>Du er nu en del af Danmarks første online shoppingcenter og får øjeblikkelig adgang til Købstadens samlede kundegruppe.</p>
						</section>
					</div>
					<div class="table">
						<p><strong>Her kan du lære mere om de fordele som købstaden giver din butik.</strong></p>
						<table>
							<tr class="row1">
								<td>
									<div class="image">
										<img src="/static/images/icon-exposure_round.png" alt="Butik" />
									</div>
									<strong>Markant eksponering</strong>
									<ul>
										<li>Ekstraordinær kundekreds – skabt af alle centerets butikker.</li>
										<li>Unikke krydssalgsmuligheder.</li>
										<li>Markedsføring: både offline og online.</li>
									</ul>
								</td>
								<td>
									<div class="image">
										<img src="/static/images/icon-thumbsup_round.png" alt="Butik" />
									</div>
									<strong>Risikofrit</strong>
									<ul>
										<li>Ingen skjulte gebyrer.</li>
										<li>Lille salær ved gennemført salg.</li>
										<li>No cure, no pay.</li>
									</ul>
								</td>
							</tr>
							<tr class="row2">								
								<td>
									<div class="image">
										<img src="/static/images/icon-brick_round.png" alt="Butik" />
									</div>
									<strong>Nemt og smertefrit</strong>
									<ul>
										<li>Lynhurtig oprettelse.</li>
										<li>Sæt dine varer til salg uden besvær.</li>
									</ul>
								</td>
								<td>
									<div class="image">
										<img src="/static/images/icon-service_round.png" alt="Butik" />
									</div>
									<strong>Dedikeret service</strong>
									<ul>
										<li>Fokuseret rådgivning.</li>
										<li>Vejledning i salg på Købstaden.</li>
									</ul>
								</td>
							</tr>
							<tr class="row3">								
								<td>
									<div class="image">
										<img src="/static/i	mages/icon-lock_round.png" alt="Butik" />
									</div>
									<strong>Kvalitet og sikkerhed</strong>
									<ul>
										<li>Unikt betalingssystem, der muliggør flere handler ved ét checkout.</li>
										<li>Højeste sikkerhedsniveau.</li>
										<li>Modtag danske og udenlandske kredit kort.</li>
									</ul>
								</td>
								<td>
									<div class="image">
										<img src="/static/images/icon-ekstra_round.png" alt="Butik" />
									</div>
									<strong>Ekstra</strong>
									<ul>
										<li>Ubegrænset gebyrfrit varekatalog.</li>
										<li>Mulighed for professionel produktfotografering.</li>
										<li>Mulighed for professionel print.</li>
										<li>Mulighed for opsætning af professionel facebook side</li>
									</ul>
								</td>
							</tr>
						</table>
					</div>
				</div>
				
				<div id="content-2b" rel="hvordan-eksisterende" class="content">
					<a class="back-nav button" href="#hvordan" rel="hvordan">Tilbage</a>
					<h2>Du koncentrerer dig om at sælge.<br />Vi sørger for markedsføring, teknikken og alt det andet.</h2>
					<p>På Købstaden importerer vi dit varekatalog fra din eksisterende webshop. Din Købstaden-butik bliver derfor blot en forlængelse af din allerede eksisterende shop, der giver dig endnu flere kunder i butikken.</p>
					<p><strong>Sådan bliver din webbutik en del af Købstaden:</strong></p>
					<div class="section-a-wrapper section-a-left">
						<section>
							<div class="image">
								<img src="/static/images/icon-flyingplusshops.png" alt="Butik" />
							</div>
							<span class="number">1)</span><strong>Import af varekatelog</strong>
							<p>Vi importerer dit varekatelog fra din eksisterende webbutik, nemt og smertefrit.</p>
						</section>
					</div>
					<div class="section-a-wrapper section-a-center">
						<section>
							<div class="image">							
								<img src="/static/images/icon-freight.png" alt="Butik" />
							</div>
							<span class="number">2)</span><strong>Service og rådgivning</strong>
							<p>Vi checker om du har den bedste fragtaftale og tilbyder rådgivning i salg gennem Købstaden.</p>
						</section>
					</div>					
					<div class="section-a-wrapper section-a-right">
						<section>
							<div class="image">							
								<img src="/static/images/icon-shopper.png" alt="Butik" />
							</div>
							<span class="number">3)</span><strong>Få kunder i butikken </strong>
							<p>Du er nu en del af Danmarks første online shoppingcenter og får øjeblikkelig adgang til Købstadens samlede kundegruppe.</p>
						</section>
					</div>
					<div class="table">
						<p><strong>Her kan du lære mere om de fordele som Købstaden giver din butik.</strong></p>
						<table>
							<tr class="row1">
								<td>
									<div class="image">
										<img src="/static/images/icon-exposure_round.png" alt="Butik" />
									</div>
									<strong>Markant eksponering</strong>
									<ul>
										<li>Ekstraordinær kundekreds – skabt af alle centerets butikker.</li>
										<li>Unikke krydssalgsmuligheder.</li>
										<li>Markedsføring: både offline og online.</li>
									</ul>
								</td>
								<td>
									<div class="image">
										<img src="/static/images/icon-thumbsup_round.png" alt="Butik" />
									</div>
									<strong>Risikofrit</strong>
									<ul>
										<li>Ingen skjulte gebyrer.</li>
										<li>Lille salær ved gennemført salg.</li>
										<li>No cure, no pay.</li>
									</ul>
								</td>
							</tr>
							<tr class="row2">								
								<td>
									<div class="image">
										<img src="/static/images/icon-brick_round.png" alt="Butik" />
									</div>
									<strong>Nemt og smertefrit</strong>
									<ul>
										<li>Lynhurtig oprettelse.</li>
										<li>Nem import af dit varekatalog.</li>
									</ul>
								</td>
								<td>
									<div class="image">
										<img src="/static/images/icon-service_round.png" alt="Butik" />
									</div>
									<strong>Dedikeret service</strong>
									<ul>
										<li>Fokuseret rådgivning.</li>
										<li>Vejledning i salg på Købstaden.</li>
									</ul>
								</td>
							</tr>
							<tr class="row3">								
								<td>
									<div class="image">
										<img src="/static/i	mages/icon-lock_round.png" alt="Butik" />
									</div>
									<strong>Kvalitet og sikkerhed</strong>
									<ul>
										<li>Unikt betalingssystem, der muliggør flere handler ved ét checkout.</li>
										<li>Højeste sikkerhedsniveau.</li>
										<li>Modtag danske og udenlandske kredit kort.</li>
									</ul>
								</td>
								<td>
									<div class="image">
										<img src="/static/images/icon-ekstra_round.png" alt="Butik" />
									</div>
									<strong>Ekstra</strong>
									<ul>
										<li>Ubegrænset gebyrfrit varekatalog.</li>
										<li>Mulighed for professionel produktfotografering.</li>
										<li>Mulighed for professionel print.</li>
										<li>Mulighed for opsætning af professionel facebook side</li>
									</ul>
								</td>
							</tr>
						</table>
						<p id="small_text">*import af varekatalog forudsætter eksportfunktion i dit system</p>
					</div>
				</div>
				
				<div id="content-3" rel="hoer-mere" class="content">
					<h2>Passer din butik perfekt ind i vores online shoppingcenter?</h2>
					<span>Vi er i fuld gang med at samle spændende kvalitetsbutikker til lanceringen af Danmarks første online shoppingcenter. Du kan stadig nå, at være med blandt de første 100 og få del i kampagnetilbudet<br>
						Er du interesseret i at høre mere? Udfyld nedenstående formular, så kontakter vi dig hurtigst muligt med et tilbud. Det er ganske uforpligtende og dine oplysninger bliver ikke delt videre.</span>
					<!-- BEGIN Podio web form -->
					<script src="http://podio.com/webforms/895028/37986.js"></script>
					<script type="text/javascript">
					  _podioWebForm.render("37986")
					</script>
					<!-- END Podio web form -->
				</div>

				<div id="content-4" rel="hvem" class="content">
					<h2>Familien i Skyen</h2>
					<p>
						Her hos Købstaden er vi en gruppe af mennesker med vidt forskellig baggrund, men ét fælles ønske – at gøre dansk e-handel bedre. Vi er passionerede omkring e-handel og har flere års erfaring, bag skærmen med webudvikling, såvel som foran skærmen som ivrige e-shoppere.
					</p>
					<p>
						Vi er altid nytænkende og opmærksomme på nyeste trends og tendenser. Vi hader skjulte gebyrer og ”det med småt” men elsker god kundeservice og følelsen af, at der er nogen bag skærmen. Vi har øje for detalje og er altid åbne og imødekommende. Skulle du ønske at lære familien bedre at kende, er du altid velkommen til at give os et ring på 7199 0720.
					</p>
					<h2>Familiemedlemmer</h2>
					<div class="employee">
						<table>
							<tr>
								<td><img src="/static/images/mikkel_BW.jpg"></td>
								<td>
									<h2>Mikkel Fabricius</h2>
									<h3>Co-Founder / Forretningsudvikler</h3>
									<span class="mailme">mf at kobstaden dot dk</span>
									<p>Mikkel er Købstadens hovedarkitekt. Ingen detalje går hans kritiske øje forbi (til frustration for udviklerne til tider) og sørger for at hver en feature på Købstaden er skræddersyet til Købstadens ideologi.  Mikkel er cand.merc. fra CBS  og har tidligere erfaring med regnskab, markedsføring, idéudvikling og projektstyring.</p>
								</td>
							</tr>
							<tr>
								<td><img src="/static/images/jakob_BW.jpg"></td>
								<td>
									<h2>Jakob Holmelund</h2>
									<h3>Co-Founder / Chefprogrammør</h3>
									<span class="mailme">jhh at kobstaden dot dk</span>
									<p>Jakob er Købstadens chefprogrammør og elsker at snakke i koder. Han har en bachelorgrad fra DTU som softwareingeniør og brænder for at udvikle Købstaden, som Danmarks bedste online shoppingcenter. Af Jakobs tidligere arbejdsgivere kan nævnes Downtown.dk og Basepoint Media.</p>
								</td>
							</tr>
							<tr>
								<td><img src="/static/images/klaus_BW.jpg"></td>
								<td>
									<h2>Klaus Jespersen Colding</h2>
									<h3>Co-Founder / Projektleder</h3>
									<span class="mailme">kjc at kobstaden dot dk</span>
									<p>Klaus står for de strategiske overvejelser hos Købstaden, med særligt fokus på projektledelse og online marketing. Han har en baggrund fra CBS som Cand.merc og har tidligere erfaring med markedsføring og salg af software løsninger. Klaus er tosset med golf og whiteboards.</p>
								</td>
							</tr>
							<tr>
								<td><img src="/static/images/christoffer.jpg"></td>
								<td>
									<h2>Christoffer Buusmann</h2>
									<h3>Co-Founder / Kundeansvarlig </h3>
									<span class="mailme">cb at kobstaden dot dk</span>
									<p>Christoffer er Købstadens ansigt udadtil. Han er bindeledet mellem butikkerne og Købstaden og det ham man ringer til når man skal have god service. Christoffer brænder for at gøre Købstaden nemt, lækkert og brugervenligt for vores butikker. Når Christoffer ikke er hos Købstaden bruger han det meste af sin tid på at slå vejrmøller eller flyve helikopter.</p>
								</td>
							</tr>
							<tr>
								<td><img src="/static/images/pic_soon.jpg"></td>
								<td>
									<h2>Dan True</h2>
									<h3>Backend udvikler</h3>
									<p>Dan er backend webudvikler og udvikler de tunge bagvedliggende funktioner, der gør Købstaden intelligent. Han har en bachelorgrad fra DTU som softwareingeniør og har erfaring med programmering af bl.a. kunstig intelligens og har desuden arbejdet med statistik hos CEM Institute. Vi andre må som ofte stå og se til i forundring når Dan skriver sine algoritmer op på tavlen..</p>
								</td>
							</tr>
							<tr>
								<td><img src="/static/images/pic_soon.jpg"></td>
								<td>
									<h2>Lasse Boisen Andersen</h2>
									<h3>Frontend-udvikler</h3>
									<p>Lasse er frontend udvikler og har til opgave, at gøre Købstaden lækkert at bruge og se på. Han studerer til dagligt på IT Universitetet i København og har tidligere erfaring med udvikling af kundetilpassede webshopløsninger. Lasse elsker digitale medier og internettets muligheder - og så går han med sixpence og ryger pibe.</p>
								</td>
							</tr>
							<tr>
								<td><img src="/static/images/pic_soon.jpg"></td>
								<td>
									<h2>Søren Louv-Jansen</h2>
									<h3>Backend-udvikler</h3>
									<p>Søren roder med Købstadens bagvedliggende kode og er passioneret omkring udvikling af nye features til Købstaden. Han studerer til dagligt på IT Universitetet og har tidligere erfaring som webudviklingskonsulent. I weekender renoverer Søren sin nyindkøbte lejlighed for fulde drøn.</p>
								</td>
							</tr>
							<tr>
								<td><img src="/static/images/pic_soon.jpg"></td>
								<td>
									<h2>Cameron Gallacher</h2>
									<h3>Grafisk designer</h3>
									<p>Australske Cameron er ansvarlig for at udvikle Købstadens grafiske univers. Det er ham, der bringer liv til idéerne og får Købstaden til at se lækkert ud. Cameron er i gang med at lære dansk med lynets hast og han elsker Photoshop, rock musik og kaffebønner.</p>
								</td>
							</tr>
							  <td><img src="/static/images/pic_soon.jpg"></td>
							  <td>
								<h2>Klaus Colding</h2>
								<h3>Økonomichef</h3>
								<p>Klaus sørger for, at der er styr på nøgletal, bilag og udgifter. Han har mere end 30 års erfaring som økonomichef og det nyder vi godt af hos Købstaden. I fritiden planter Klaus kartofler og stikkelsbær i sin fine have.</p>
							</td>
						</tr>
						</table>
					</div>
					<br />
					<br />
					<h2>Samarbejdspartnere</h2>
					<div class='partners'>
						<table>
							<tr>
								<td><a href="http://www.dibs.dk"><img src="/static/images/dibs.png"></td>
								<td>
									<h3>DIBS Payment Services</h3>
									<p>DIBS Payment Services er Nordens ubestridt førende udbyder af internet betalingsløsninger. Sikkerhed og troværdighed er afgørende nøgleord for DIBS, der dagligt håndterer tusindvis af betalingstransaktioner for sine kunder.</p>
								</td>
							</tr>
								<tr>
									<td><a href="http://www.teller.com/dk"><img src="/static/images/teller.png" alt="Teller logo" ></td>
									<td>
										<h3>Teller</h3>
										<p>Teller er den største indløser af internationale betalingskort i Norden, målt i antal kunder. Navnet Teller stammer fra sammenlægningen af kortindløsningsdelen i Norske Teller og danske PBS International.</p>
									</td>
								</tr>
		      					<tr>
									<td><a href="http://www.webstock.dk"><img src="/static/images/webstock.png" alt="Webstock logo"></td>
									<td>
										<h3>Webstock</h3>
										<p>Webstock tilbyder særdeles fordelagtige fragt- og håndteringspriser. Denne løsning er det perfekte supplement til Købstadens webshop, idet bestilte ordrer automatisk udsendes til kunden, så butikkerne kan fokusere på at drive forretning og ikke bruge tid på at håndtere forsendelser.</p>
									  </td>
								 </tr>
									<tr>
										<td><a href="http://www.bownty.dk"><img src="/static/images/bownty.png" alt="Bownty logo"></td>
										<td>
											<h3>Bownty</h3>
											<p>I løbet af de seneste par år er der sket meget på “daily deals” markedet, som tilbyder daglige tilbud med besparelse på 50-60% på restauranter, massageklinikker, rejser og meget mere. Bownty.dk har derfor samlet alle de bedste deals på ét sted.</p>
										</td>
									</tr>
									</tr>
									<tr>
										<td><a href="http://www.buusmann.dk/"><img src="/static/images/jes_buusmann.png" alt="Jes Buusmann logo"></td>
										<td>
												<h3>Jes Buusmann ApS</h3>
											<p>Jes Buusmann har i lang tid været førende inden for hans område: Reklamefoto. Han har vundet flere priser, bla. Gourmand World Cookbook Awards’ pris for Worlds Best Cookbook Photo’s. Herudover har han fotograferet alt fra den Royale familie, kendte skuespillere og modeller til 'gør-det-selv indretning'.  Hans ekspertise hjælper Købstadens butikker til at få en høj standart af produktbilleder</p>
										</td>
									</tr>
							</table>
						</div>
					</div>
						<div id="content-5" rel="priser" class="content">
							<h2>Købstaden Priser</h2>
							<p>
							 <strong>Hos Købstaden får du en webshop i Danmarks første online shoppingcenter for under 10 kr. om dagen!</strong>
							</p>
								Det eneste du ellers skal forholde dig til, er et succesgebyr på <strong>8 %</strong> når du gennemfører et salg. Kort sagt, vi vinder kun når du vinder.
							</p>
							<p>
								Købstaden samarbejder med markedets stærkeste spillere og vi har samlet indløsningsaftale, betalingssystem og salgsplatform ét sted til en brøkdel af markedsprisen.
							</p>
								<img src="/static/images/icon-balloondude-large.png" alt="Købstaden Balloon">
							<p>
								Klik <a rel="hoer-mere" class="button" href="#hoer-mere">her</a> for at få tilsendt prisinformation:
							<p>
						</div>
				</div>
	    </div>
	
	
	
	
	
		<div id="menu-wrapper">
			<div id="menu">
				<a id="button-1" rel="hvad" class="button" href="#hvad">
					<span>Hvad?</span>
					<!--<img src="/static/images/icon-balloondude.png" alt="Hvad er Købstaden?" />-->
				</a>
				<a id="button-2" rel="hvordan" class="button" href="#hvordan">
					<span>Hvordan?</span>
					<!--<img src="/static/images/icon-cogwheel.png" alt="Hvordan fungerer Købstaden?" />-->
				</a>
				<a id="button-4" rel="hvem" class="button" href="#hvem">
					<span>Hvem?</span>
					<!--<img src="/static/images/icon-flyingshop.png" alt="Hør mere om Købstaden?" />-->
				</a>
				<a id="button-5" rel="priser" class="button" href="#priser">
					<span>Priser?</span>
					<!--<img src="/static/images/icon-balloondude.png" alt="Hvad er Købstaden?" />-->
				</a>
				<a id="button-3" rel="hoer-mere" class="button" href="#hoer-mere">
					<span>Hør mere</span>
					<!--<img src="/static/images/icon-flyingshop.png" alt="Hør mere om Købstaden?" />-->
				</a>

			</div>
		</div>
		<div class="fb-like" data-href="https://www.facebook.com/kobstaden" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
		<div style="height: 5px; width: 90px; display: inline-block; text-indent: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: transparent; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; background-position: initial initial; background-repeat: initial initial; "></div>
		<g:plusone size="medium" annotation="bubble" width="50px"></g:plusone>		
	</div> <!--! end of #container -->	
	<div id="footer-wrapper">
		<footer>
			<div id="footer-inner">Copyright © 2012 Købstaden ApS &nbsp; | &nbsp; Dampfærgevej 2a &nbsp; | &nbsp; 2100 København Ø &nbsp; | &nbsp; +45 71 99 07 20 &nbsp; | &nbsp; info@købstaden.dk | &nbsp; CVR: 34228043</div>
			<div id="hidden">
				<img src="/static/images/icon-checkmark.gif" alt="OK" />
				<img src="/static/images/icon-exclamation.gif" alt="Advarsel" />
				<img src="/static/images/icon-cross.gif" alt="Fejl" />								
			</div>
		</footer>
	</div>

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.6.2.min.js"><\/script>')</script>

  <script src="/static/javascript/main.js"></script>
	
  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UA-28594796-1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>