<!doctype html>
<html>
<head>
	
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Købstaden</title>
  <meta name="description" content="kobstaden">
  <meta name="author" content="kobstaden">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:image" content="http://www.kobstaden.dk/static/images/logo.png" /> 
  <meta property="og:title" content="Købstaden er Danmarks første online storcenter." /> 
  <meta property="og:description" content="Hos købstaden har vi gjort det nemt for dig at komme i gang med at sælge mere på nettet." /> 
  <meta property="og:url" content="http://www.kobstaden.dk"> 
	
	<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="/static/stylesheet/compiled/main.css">
  <script src="/static/javascript/libs/modernizr-2.0.6.min.js"></script>

</head>
<body>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=214029271984815";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

  <div id="container">
		<div id="header-wrapper">
			<header>
				<a href="#"><img src="/static/images/logo.png" alt="Købstaden Logo" class="button" rel="0"/></a>
			</header>
		</div>
		<div id="main-wrapper" role="main">
			<div id="main">

				<div id="content-0" rel="0" class="content visible">
					<div class="section-wrapper section-left">
						<section>
							<img src="/static/images/icon-balloondude.png" alt="Forbruger" />
						</section>
					</div>					
					<div class="section-wrapper section-center">
						<section>
							<h2>Købstaden er Danmarks<br />første online storcenter. <br/>Udvid din forretning til skyerne.</h2>
							<h3>Få besked når vi går i luften!</h3>
							<form id="signup" action="" method="post">
								<input type="text" name="email" class="input-email" placeholder="E-mail" /><input type="submit" value="Tilmeld" class="input-submit" />
								<span class="validation-error">E-mail er ikke gyldig, check din indtastning</span>
							</form>							
						</section>
					</div>
					<div class="section-wrapper section-right">
						<section>
							<img src="/static/images/icon-flyingshop.png" alt="Butik" />
						</section>
					</div>
				</div>

				<div id="content-1" rel="1" class="content">
					<h2>Købstaden er Danmarks første online shoppingcenter - til gavn for både køber og sælger.</h2>
					<img src="/static/images/icon-puzzle-large.png" alt="Hvad er Købstaden?" class="image-right"/>
					<p>Det behøver ikke være en videnskab at sælge på nettet. Købstaden er Danmarks første online shoppingcenter og vi har gjort det let for køber og sælger at mødes under perfekte vilkår. På Købstaden kan sælgere nemt og hurtigt oprette en webshop og komme i gang med online salg. Vi leverer en intuitiv løsning, hvor der er sørget for webshop, kortaftale, betalingssystem, fragtaftale og en ekstraordinær kundekreds skabt af alle centerets butikker og intensiv markedsføring.</p>
					<p>Som forbruger på Købstaden får man adgang til et bredt udvalg af spændende varer fra centrets mange forskellige butikker. Vores unikke betalingssystem gør det muligt for kunderne at shoppe på kryds og tværs mellem butikkerne og afslutte med én samlet betaling – alt samlet i et simpelt og overskuelig system, der giver kunden den bedste handelsoplevelse. Shopping har aldrig været lettere.</p>
				</div>

				<div id="content-2" rel="2" class="content">
					<h2>Købstaden er Danmarks første online storcenter. Vi forbinder din butik med en hastigt voksende kundegruppe.</h2>
					<div class="section-wrapper section-left">
						<section>
							<a href="#">
								<span>Klik her hvis du er ny i nethandel</span>
								<img src="/static/images/icon-flyingnewshop.png" alt="Butik" />
							</a>
							<span><em>Du har en butik og ønsker at komme i gang med at sælge på nettet. Vi har gjort det nemt for dig og samlet webshop, betalingsløsning, fragtaftale og eksponering ét samlet sted.</em></span>
						</section>
					</div>	
					<div class="section-wrapper section-right">
						<section>
							<a href="#2b">
								<span rel="2b" class="button">Klik her hvis du allerede har en webshop</span>
								<img src="/static/images/icon-flyingshop.png" alt="Butik" />
							</a>
							<span><em>Du har allerede en webshop og ønsker at sælge endnu mere på nettet. Vi indlæser dit varekatalog fra din eksisterende webshop så du forbindes direkte med Købstadens kundegruppe.</em></span>
						</section>
					</div>
				</div>
				
				<div id="content-2b" rel="2b" class="content">
					<a class="back-nav button" href="#2" rel="2">Tilbage</a>
					<h2>Du koncentrerer dig om at sælge.<br />Vi sørger for markedsføring, teknikken og alt det andet.</h2>
					<p>På Købstaden importerer vi dit varekatalog fra din eksisterende webshop. Din Købstaden-butik bliver derfor blot en forlængelse af din allerede eksisterende shop, der giver dig endnu flere kunder i butikken.</p>
					<p><strong>Sådan bliver din webbutik en del af Købstaden:</strong></p>
					<div class="section-a-wrapper section-a-left">
						<section>
							<div class="image">
								<img src="/static/images/icon-flyingplusshops.png" alt="Butik" />
							</div>
							<span class="number">1)</span><strong>Import af varekatelog</strong>
							<p>Vi importerer dit varekatelog fra din eksisterende webbutik, nemt og smertefrit.</p>
						</section>
					</div>
					<div class="section-a-wrapper section-a-center">
						<section>
							<div class="image">							
								<img src="/static/images/icon-freight.png" alt="Butik" />
							</div>
							<span class="number">2)</span><strong>Service og rådgivning</strong>
							<p>Vi checker om du har den bedste fragtaftale og tilbyder rådgivning i salg gennem Købstaden.</p>
						</section>
					</div>					
					<div class="section-a-wrapper section-a-right">
						<section>
							<div class="image">							
								<img src="/static/images/icon-shopper.png" alt="Butik" />
							</div>
							<span class="number">3)</span><strong>Få kunder i butikken </strong>
							<p>Du er nu en del af Købstaden og får adgang til vores hastigt voksende kundegruppe.</p>
						</section>
					</div>
					<div class="table">
						<p><strong>Her kan du lære mere om de fordele som Købstaden giver din butik.</strong></p>
						<table>
							<tr>
								<td>
									<div class="image">
										<img src="/static/images/icon-exposure.png" alt="Butik" />
									</div>
									<strong>Markant eksponering</strong>
									<ul>
										<li>Ekstraordinær kundekreds – skabt af alle centerets butikker.</li>
										<li>Unikke krydssalgsmuligheder.</li>
										<li>Markedsføring: både offline og online.</li>
									</ul>
								</td>
								<td>
									<div class="image">
										<img src="/static/images/icon-thumbsup.png" alt="Butik" />
									</div>
									<strong>Risikofrit</strong>
									<ul>
										<li>Gratis oprettelse til de 100 første.</li>
										<li>Ingen skjulte gebyrer.</li>
										<li>No cure, no pay.</li>
									</ul>
								</td>
							</tr>
							<tr>								
								<td>
									<div class="image">
										<img src="/static/images/icon-puzzle-large.png" alt="Butik" />
									</div>
									<strong>Nemt og smertefrit</strong>
									<ul>
										<li>Lynhurtig oprettelse.</li>
										<li>Nem import af dit varekatalog.</li>
									</ul>
								</td>
								<td>
									<div class="image">
										<img src="/static/images/icon-service.png" alt="Butik" />
									</div>
									<strong>Dedikeret service</strong>
									<ul>
										<li>Fokuseret rådgivning.</li>
										<li>Vejledning i salg på Købstaden.</li>
									</ul>
								</td>
							</tr>
							<tr>								
								<td>
									<div class="image">
										<img src="/static/i	mages/icon-security.png" alt="Butik" />
									</div>
									<strong>Kvalitet og sikkerhed</strong>
									<ul>
										<li>Unikt betalingssystem, der muliggør flere handler ved ét checkout.</li>
										<li>Højeste sikkerhedsniveau.</li>
										<li>Modtag danske og udenlandske kredit kort.</li>
									</ul>
								</td>
								<td>
									<div class="image">
										<img src="/static/images/icon-ekstra.png" alt="Butik" />
									</div>
									<strong>Ekstra</strong>
									<ul>
										<li>Ubegrænset gebyrfrit varekatalog.</li>
										<li>Mulighed for professionel produktfotografering.</li>
										<li>Mulighed for professionel print.</li>
									</ul>
								</td>
							</tr>
						</table>
					</div>
					<div class="bullets">
						<p><strong>Markant eksponering</strong></p>
						<ul>
							<li>Øjeblikkeligt adgang til ekstraordinær kundekreds, skabt på baggrund af alle skyens butikker, der nyder godt af hinandens trafik.</li>
							<li>Unikke krydssalgsmuligheder, der bringer nye kunder i din butik.</li>
							<li>Vi placerer betydelige ressourcer i markedsføring, så du i stedet kan fokusere på dine forretning og dine kunder.</li>
						</ul>
					</div>	
				</div>
				
				<div id="content-3" rel="3" class="content">
					<h2>Er du klar til at sælge mere online?</h2>
					<span>Vi leder konstant efter nye butikker til Købstaden. Hvis du kunne tænke dig at være med i Danmarks nye online handelsportal eller vil du blot vide mere, så udfyld formularen nedenfor og vi tager kontakt til dig.</span>
					<!-- BEGIN Podio web form -->
					<script src="http://podio.com/webforms/895028/37986.js"></script>
					<script type="text/javascript">
					  _podioWebForm.render("37986")
					</script>
					<!-- END Podio web form -->
				</div>
				
			</div>
		</div>
		<div id="menu-wrapper">
			<div id="menu">
				<a id="button-1" rel="1" class="button" href="#1">
					<span>Hvad?</span>
					<!--<img src="/static/images/icon-balloondude.png" alt="Hvad er Købstaden?" />-->
				</a>
				<a id="button-2" rel="2" class="button" href="#2">
					<span>Hvordan?</span>
					<!--<img src="/static/images/icon-cogwheel.png" alt="Hvordan fungerer Købstaden?" />-->
				</a>
				<a id="button-3" rel="3" class="button" href="#3">
					<span>Bliv partner!</span>
					<!--<img src="/static/images/icon-flyingshop.png" alt="Hør mere om Købstaden?" />-->
				</a>
			</div>
		</div>
		<div class="fb-like" data-href="https://www.facebook.com/kobstaden" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>		
	</div> <!--! end of #container -->	
	<div id="footer-wrapper">
		<footer>
			<div id="footer-inner">Købstaden.dk &nbsp; | &nbsp; Dampfærgevej 2a &nbsp; | &nbsp; 2100 København Ø &nbsp; | &nbsp; +45 21 25 25 45 &nbsp; | &nbsp; info@købstaden.dk</div>
			<div id="hidden">
				<img src="/static/images/icon-checkmark.gif" alt="OK" />
				<img src="/static/images/icon-exclamation.gif" alt="Advarsel" />
				<img src="/static/images/icon-cross.gif" alt="Fejl" />								
			</div>
		</footer>
	</div>

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.6.2.min.js"><\/script>')</script>

  <script src="/static/javascript/main.js"></script>
	
  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UA-28594796-1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>