<!doctype html>
<html>
<head>
	
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Købstaden</title>
  <meta name="description" content="kobstaden">
  <meta name="author" content="kobstaden">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:image" content="http://www.kobstaden.dk/static/images/logo.png" /> 
  <meta property="og:title" content="Købstaden er Danmarks første online storcenter." /> 
  <meta property="og:description" content="Hos købstaden har vi gjort det nemt for dig at komme i gang med at sælge mere på nettet." /> 
  <meta property="og:url" content="http://www.kobstaden.dk"> 
	
	<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="/static/stylesheet/compiled/main.css">
  <script src="/static/javascript/libs/modernizr-2.0.6.min.js"></script>

</head>
<body>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=214029271984815";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

  <div id="container">
		<div id="header-wrapper">
			<header>
				<a href="#"><img src="/static/images/logo.png" alt="Købstaden Logo" class="button" rel="0"/></a>
			</header>
		</div>
		<div id="main-wrapper" role="main">
			<div id="main">
				<div id="content-0" rel="0" class="content visible">
					<div class="section-wrapper section-left">
						<section>
							<img src="/static/images/icon-flyingshop-large.png" alt="Butik" />
						</section>
					</div>					
					<div class="section-wrapper section-center">
						<section>
							<h2>Købstaden er Danmarks<br />første online storcenter. <br/>Udvid din forretning til skyerne.</h2>
							<h3>Få besked når vi går i luften!</h3>
							<form id="signup" action="" method="post">
								<input type="text" name="email" class="input-email" /><input type="submit" value="Tilmeld" class="input-submit" />
								<span class="validation-error">E-mail er ikke gyldig, check din indtastning</span>
							</form>							
						</section>
					</div>
					<div class="section-wrapper section-right">
						<section>
							<img src="/static/images/icon-balloondude-large.png" alt="Forbruger" />
						</section>
					</div>
				</div>
			</div>
		</div>
		<div class="fb-like" data-href="https://www.facebook.com/kobstaden" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>		
		<div id="menu-wrapper">
			<div id="menu">
				<a id="button-1" rel="1" class="button" href="#hvad">
					<span>Hvad er <br />Købstaden?</span>
					<!--<img src="/static/images/icon-balloondude.png" alt="Hvad er Købstaden?" />-->
				</a>
				<a id="button-2" rel="2" class="button" href="#hvordan">
					<span>Hvordan fungerer <br />Købstaden?</span>
					<!--<img src="/static/images/icon-cogwheel.png" alt="Hvordan fungerer Købstaden?" />-->
				</a>
				<a id="button-3" rel="3" class="button" href="#mere">
					<span>Hør mere om <br />Købstaden!</span>
					<!--<img src="/static/images/icon-flyingshop.png" alt="Hør mere om Købstaden?" />-->
				</a>
			</div>
		</div>
	</div> <!--! end of #container -->	
	<div id="footer-wrapper">
		<footer>
			<div id="footer-inner">Købstaden.dk &nbsp; | &nbsp; Dampfærgevej 2a &nbsp; | &nbsp; 2100 København Ø &nbsp; | &nbsp; +45 21 25 25 45 &nbsp; | &nbsp; info@købstaden.dk</div>
			</footer>
	</div>

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.6.2.min.js"><\/script>')</script>

  <script src="/static/javascript/main.js"></script>
	
  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UA-28594796-1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>